<% layout('../layout') -%>
<% script('/js/admin-ui.js') -%>

<div class="admin-menu">
  <div class="admin-tabs lefty">
    <ul>
      <li class="selected"><a href="#">Dashboard</a></li>
      <li><a href="/admin/feedbacks">Feedbacks</a></li>
      <li><a href="/admin/users">Users</a></li>
    </ul>
  </div>

  <div class="admin-content lefty">
    <p>Users: <%= data.users %></p>
    <p>Unsolved feedbacks: <%= data.feedbacks %></p>
    <p>Movies: <%= data.movies %></p>
    <p>Admins: <%= data.admins %></p>
  </div>

  <div class="clear"></div>
</div>
