<% layout('layout') -%>
<% stylesheet('css/style.css') -%>

<div id="text">
	 <h1 class="bluetitle">About the website</h1>
     <hr />
     Tookie is a meta-search engine which indexes movie torrents from <a href="http://torrentz.eu" target="_blank">torrentz</a> and presents all the information in a beautiful and responsive UI. It allows the user to view the information of the latest movies available out there along with the respective metadata (trailer, cast, release date, etc). And it also provides an external link who might contain a .torrent file or a magnet link for downloading the movie.<br /><br />

     And in case you're wondering, yes. Tookie is open-source and the code is hosted in <a href="https://github.com/sabarasaba/tookie" target="_blank">github</a>. Feel free to fork me =)

         <div class="notice">
        	<ul>
        		<li>Tookie does not host or "make available" any files or torrents in any way, shape or form.</li>
        		<li>Tookie links to other independent search engines that might host torrent files. We have absolutely no control over those domains.</li>
        		<li>Torrent files are simply metadata and cannot be copyrighted.</li>
        	</ul>
        </div>

    <h1 class="bluetitle">Technologies involved</h1>
    <hr />
    	Tookie runs a worker every 3 hours who indexes all the new movies available in the first pages of torrentz. And then, for each movie found it querys the API v3 of TMDB and gets all the metadata and saves everything on a mongo database.
    <br />
    <ul>
    	<li><a href="http://nodejs.org/" target="_blank">node.js</a></li>
    	<li><a href="http://expressjs.com/" target="_blank">express.js</a></li>
    	<li><a href="http://code.google.com/p/embeddedjavascript/" target="_blank">ejs</a></li>
    	<li><a href="http://www.mongodb.org/" target="_blank">mongodb</a></li>
    	<li><a href="http://passportjs.org/" target="_blank">passport.js</a></li>
    	<li><a href="https://github.com/caolan/async/" target="_blank">async</a></li>
    	<li><a href="https://github.com/randometc/ejs-locals" target="_blank">ejs-locals</a></li>
    	<li><a href="https://github.com/mikeal/request/" target="_blank">request.js</a></li>
    	<li><a href="https://github.com/raqqa/node-tmdb/" target="_blank">node-tmdb</a></li>
    	<li><a href="https://nodejitsu.com/" target="_blank">nodejitsu</a></li>
    </ul>

    <h1 class="bluetitle">About the developer</h1>
    <hr />
    The person behind all of this, is <a href="http://sabarasaba.github.com/" target="_blank">Ignacio Rivas</a>. He's a software developer who lives in the beautiful and boring city of <a href="http://en.wikipedia.org/wiki/Tandil" target="_blank">Tandil, Argentina</a>.
</div>