<% layout('layout') -%>

<div class="text-box">
  <h1>February 28, 2013</h1>
    <p>Added support for editing and deleting movies in search view if you're an admin</p>

  <h1>February 27, 2013</h1>
    <p>Added user accounts</p>
    <p>Added admin support and admin panel</p>
    <p>Added favourites to user profiles</p>

  <h1 class="margin-title">February 26, 2013</h1>
    <p>Added feedback button for movies</p>
    <p>Addde donate button</p>

</div>