<% layout('layout') -%>
<% script('/js/libs/jquery.Tipsy/jquery.tipsy.js') -%>
<% stylesheet('/js/libs/jquery.Tipsy/tipsy.css') -%>
<% script('/js/main-ui.js') -%>

<div class="search-box">

  <form action="/search" method="get">
    <div class="search-bar">
      <input type="text" id="searchField" name="q" class="default-input" />
      <button class="button-icon icon-magnifying-glass" id="search-button" type="submit" title="Search"></button>
      <button class="button-icon icon-equalizer" id="filters-button" title="Filters"></button>
    </div>

    <div class="search-filters">
      <div class="conector"></div>
        <div class="filter-container">
          <p>Filters</p>
          <div class="filter-inputs right-separator lefty">
            <input type="text" name="filter1" placeholder="Filter 1" disabled />
            <input type="text" name="filter2" placeholder="Filter 2" disabled />
            <input type="text" name="filter3" placeholder="Filter 3" disabled />
          </div>

          <div class="filter-inputs righty">
            <input type="text" name="filter4" placeholder="Filter 4" disabled />
            <input type="text" name="filter5" placeholder="Filter 5" disabled />
            <input type="text" name="filter6" placeholder="Filter 6" disabled />
          </div>

          <div class="clear"></div>
        </div>
    </div>
  </form>

  <div class="ads-main">
  </div>

  <div class="search-default">
    <div class="title">Or view by:</div>
    <div class="option"> <a href="/search/release-date">Release Date</a> </div>
    <span class="divider"></span>
    <div class="option"> <a href="/search/added-date">Added Date</a> </div>
    <span class="divider"></span>
    <div class="option"> <a href="/search/top">Rating</a> </div>
  </div>
</div>