<% layout('layout') -%>
<% script('/js/main-ui.js') -%>

<div class="search-box">

  <form action="/search" method="get">
    <div class="search-bar">
      <input type="text" id="searchField" name="q" class="default-input" />
      <button class="button-icon icon-magnifying-glass" id="search-button" type="submit"></button>
      <button class="button-icon icon-equalizer" id="filters-button"></button>
    </div>

    <div class="search-filters">
      <div class="conector"></div>
        <div class="filter-container">
          <div class="filter-inputs right-separator lefty">
            <input type="text" name="filter1" placeholder="random value" />
            <input type="text" name="filter2" placeholder="random value" />
            <input type="text" name="filter3" placeholder="random value" />
          </div>

          <div class="filter-inputs righty">
            <input type="text" name="filter4" placeholder="random value" />
            <input type="text" name="filter5" placeholder="random value" />
            <input type="text" name="filter6" placeholder="random value" />
          </div>

          <div class="clear"></div>
        </div>
    </div>
  </form>

  <div class="ads-main">
    asdasdasd
  </div>

  <div class="search-default">
    <div class="title">Or view by:</div>
    <div class="option"> <a href="/search/release-date">Release Date</a> </div>
    <span class="divider"></span>
    <div class="option"> <a href="/search/added-date">Added Date</a> </div>
    <span class="divider"></span>
    <div class="option"> <a href="/search/top">Rating</a> </div>
  </div>
</div>