<% layout('layout') -%>
<% script('/js/movies-ui.js') -%>
<% script('/js/libs/fancybox/jquery.fancybox.js') -%>
<% script('/js/libs/fancybox/helpers/jquery.fancybox-buttons.js') -%>
<% script('/js/libs/fancybox/helpers/jquery.fancybox-media.js') -%>
<% stylesheet('/js/libs/fancybox/jquery.fancybox.css') -%>
<% stylesheet('/js/libs/fancybox/helpers/jquery.fancybox-buttons.css') -%>

<div class="movies-container">

</div>