<% layout('layout') -%>
<% stylesheet('../css/style.css') -%>


<div id="query" style="display: block; align: center; margin: 0 auto; width: 97%; background-color: #1A1A1A; border: 1px solid #282828;">
	<div class="header">
        <div class="title">Settings</div>
    </div>
	<form>
		<p>Email: </p>
		<p><input type="text" placeholder="<%= u.emails[0].value %>" style="-webkit-box-shadow: 1px 1px 1px #333;"/></p>
		<!--<p><input type="text" value="Text input focused" autofocus></p>
		<p><textarea placeholder="Textarea"></textarea></p>
		<p><label><input type="radio" checked> Radio</label></p>-->
		<div class="spacer"></div>
		<p><label><input type="checkbox" style="-webkit-box-shadow: 1px 1px 1px #333;"> Display high-res thumbnails</label></p>
		<div class="spacer"></div>
		<p>Send me an email when:</p>
		<p>
			<select style="-webkit-box-shadow: 1px 1px 1px #333;">
				<option>a new Screener movie comes out</option>
				<option>a new Dvd-rip movie comes out</option>
				<option>a new Blu-ray-rip movie comes out</option>
			</select>
		</p>
		<div class="spacer"></div>
		<p><input type="submit" value="Save"></p>   
	</form>
</div>