@font-face {
	font-family: 'iconic';
	src:url('fonts/iconic.eot');
	src:url('fonts/iconic.eot?#iefix') format('embedded-opentype'),
		url('fonts/iconic.svg#iconic') format('svg'),
		url('fonts/iconic.woff') format('woff'),
		url('fonts/iconic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'iconic';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-magnifying-glass:before, .icon-equalizer:before {
	font-family: 'iconic';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-magnifying-glass:before {
	content: "\e000";
}
.icon-equalizer:before {
	content: "\e001";
}
