<% layout('../layout') -%>


<div class="login-box">

  <% if (message) { %>
    <div class="flash-error">
      <p><%= message %></p>
    </div>
  <% } %>

  <form action="/forgotPassword" method="post">
    <p>Please, give me your email and I'll send you a reset link</p>
    <div class="login-inputs">
      <input type="text" name="email" placeholder="Email" class="default-input" />
    </div>
    <div class="login-buttons">
      <div class="login-separator"></div>

      <button type="submit" class="wide-button righty">Send</button>
    </div>
  </form>
</div>