<% layout('../layout') -%>


<div class="login-box">

  <% if (message) { %>
    <div class="flash-error">
      <p><%= message %></p>
    </div>
  <% } %>
  <% if (info){ %>
    <div class="flash-error color-blue">
      <p><%= info %></p>
    </div>
  <% } %>

  <form action="/login" method="post">
    <div class="login-inputs">
      <input type="text" name="username" placeholder="User" class="default-input" />
      <input type="password" name="password" placeholder="Password"/>
    </div>
    <div class="login-buttons">
      <div class="login-separator"></div>

      <div class="login-links lefty">
        <a href="/forgotpassword">Forgot password?</a>
        <a href="/register">Need an account?</a>
      </div>

      <button type="submit" class="wide-button righty">Login</button>
    </div>
  </form>
</div>