<% layout('../layout') -%>


<div class="login-box">
  <form>
    <p>Create a new password</p>
    <div class="login-inputs">
      <input type="hidden" id="id" value="<%= userData.id %>" />
      <input type="hidden" id="token" value="<%= userData.token %>" />
      <input type="password" name="password" id="password" required placeholder="Password" autocomplete="off"/>
      <input type="password" name="confirmPassword" required placeholder="Confirm password" onfocus="validatePassword(document.getElementById('password'), this);" oninput="validatePassword(document.getElementById('password'), this);" autocomplete="off" />
    </div>
    <div class="login-buttons">
      <div class="login-separator"></div>

      <button type="submit" id="submit-new-password" class="wide-button righty">Send</button>
    </div>
  </form>
</div>