.rg-image-wrapper{
	position:relative;
	padding:20px 30px;
	background:transparent url(../images/black.png) repeat top left;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	min-height:20px;
	overflow: hidden;
}
.rg-image{
	position:relative;
	margin-left: 10%;
	text-align:center;
	line-height:0px;
}
.rg-image img{
	max-height:100%;
	max-width:100%;
}
@-moz-document url-prefix() { 
  .rg-image img{
	max-height:100%;
	max-width:100%;
  }
}
.rg-image-nav a{
	position:absolute;
	top:0px;
	left:0px;
	background:#000 url(../images/nav.png) no-repeat -20% 50%;
	width:28px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.3;
	outline:none;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next{
	right:0px;
	left:auto;
	background-position:115% 50%;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover{
	opacity:0.8;
}
.rg-content-wrapper{
	position:relative;
	float:left;
	width: 60%;
}
.rg-image-holder{
	float:left;
}
.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-rating {
	padding-left: 30px;
	margin-top:40px;
	position:relative;
	display: inline-block;
}
.rg-format{
	padding-left: 30px;
	margin-top:10px;
	position:relative;
}
.rg-genre{
	padding-left: 30px;
	margin-top:10px;
	position:relative;
}
.rg-released{
	padding-left: 30px;
	margin-top:10px;
	position:relative;	
}
.rg-cast{
	padding-left: 30px;
	margin-top:10px;
	position:relative;
}
.rg-cast p{
	display: inline-block;
	font-family: arial;
	font-size: 17px;
}
.rg-stars{
	padding-left: 10px;
}
.rg-score{
	padding-left: 10px;
}
.rg-title{
	margin-left: 30px;
	font-size: 35px;
	margin-top:25px;
	position:relative;	
}
.rg-torrent{
	padding-left: 30px;
	margin-top:10px;
	position:relative;
}
.rg-torrent a{
	position:relative;
	background: none;
	font-size: 20px
}
.rg-trailer{
	padding-top: 20px;
	padding-left: 30px;
	margin-top:25px;
	position:relative;
}
.rg-trailer a{
	position:relative;
	background: none;
	font-size: 20px
}
.rg-caption p{
	font-style:italic;
	font-size:11px;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
}
.rg-view{
	height:30px;
}
.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#464646 url(../images/views.png) no-repeat top left;
	border:3px solid #464646;
	opacity:0.8;
}
.rg-view a:hover{
	opacity:1.0;
}
.rg-view a.rg-view-full{
	background-position:0px 0px;
}
.rg-view a.rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(../images/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}
@media screen and (max-width: 840px) {
	.rg-caption p{
		font-size:10px;
	}
	.rg-image{
		margin-right: 10%;
	}
	.rg-content-wrapper{
		width: 100%;
	}
	.rg-stars{
		display: none;
	}
	.rg-score code{
		font-size: 15px;
		font-weight: bold;
	}
	.rg-image-holder{
		float: none;
	}
	.rg-title{
		font-size: 25px;
		text-align: center;
		margin-left: 0px;
	}
	.rg-trailer a{
		font-size: 25px;
	}
	.rg-rating{
		text-align: center;
		padding-left: 0px;
		display: block;		
	}
	.rg-released{
		text-align: center;
		padding-left: 0px;
	}
	.rg-cast{
		text-align: center;
		padding-left: 0px;
	}
	.rg-genre{
		text-align: center;
		padding-left: 0px;
	}
	.rg-format{
		text-align: center;
		padding-left: 0px;
	}
	.rg-torrent{
		text-align: center;
		padding-left: 0px;
	}
	.rg-trailer{
		text-align: center;
		padding-left: 0px;
	}
	.rg-torrent a{
		font-size: 25px;
	}
}