<% layout('../../layout-modals') -%>
<% script('/js/modals-ui.js') -%>

<div class="edit-form">
  <h2>Edit User</h2>
  <input type="hidden" id="buttonState" value="cancel" />

  <div class="edit-form-field">
    <p>User name</p>
    <input id="user-name" data-name="<%= u[0].name %>" value="<%= u[0].name %>" />
  </div>

  <div class="edit-form-field">
    <p>User email</p>
    <input id="user-email" value="<%= u[0].email %>" />
  </div>

  <div class="edit-form-field">
    <p>User password</p>
    <input id="user-password" value="<%= u[0].password %>" />
  </div>

  <div class="edit-form-submit">
    <button id="save">Save</button>
    <button id="cancel" class="grey-button">Cancel</button>
  </div>
</div>
